{% extends "bootstrap/base.html" %}
{% block title %}Sample Web App{% endblock %}


{% block body %}

    {% block navbar %}
        {{ nav.navbar.render() }}
    {% endblock %}

    {% if session.username %}
        <div>
            <em>Logged in as {{ session.username }} </em>
        </div>

    {% else %}
        <div>
            <em>Not currently logged in</em>
        </div>

    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
            
{% endblock %}
